/* =============
    Typography
============= */
h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif; 
}



h3{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: rem-calc(35);

    @include md{
        font-size: rem-calc(44);
    }

    @include lg{
        font-size: rem-calc(64);
    }

}

h4{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: rem-calc(20);

    @include md{
        font-size: rem-calc(40);
    }
}

h5{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: rem-calc(24);

    @include md{
        font-size: rem-calc(24);
    }

}

h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: rem-calc(16);

    @include md{
        font-size: rem-calc(20);
    }

}


p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: rem-calc(15);
    line-height: 24px;

    
}