#printer{
    padding: 40px;
    background-color: var(--grey-background);

    @include lg{
        text-align: center;
    }
    h3{
        text-align: center;
        color: white;
    }
    p{
        display: none;
        @include md{
            display: grid;
        }
        color: var(--lighter-text);
    }

    >div{
        display: grid;
        gap: 16px;
        @include lg{
            grid-area: printer-content;
            grid-template-columns: 33.3% 33.3% 33.3%;
        }
        .printer-content{
            background-color: white;
            padding: 20px;
            color: var(--light-text);
            display: flex;


            @include lg{
                padding: 34px 30px;
                display: grid;
            }
            }
        }
    }


