/* =============
    Footer
============= */
#footer{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". footer .";
    background-color: var(--navy);
    color: white;
    padding: 40px 10px;

    >div{
        grid-area: footer;
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "g1 g1"
        "g4 g4"
        "g2 g3";
        

        @include lg{
           display: flex;
           justify-content: space-between;
           margin: 10px 55px;
        }

        #g1{
            grid-area: g1;
            display: flex;
            align-items: normal;
            img{
                height: 44px;

               @include lg{
                height: 74px;
               }
            }
            h3{
                margin-top: 5px;
            }
        }

        #g2{
            grid-area: g2;
            ul{
                li{
                    a:link, a:visited{
                        text-align: left;
                        padding: 5px 0px;
                        transition: 0.25s;
                        color: white;
                        text-decoration: none;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        font-size: rem-calc(16);
                        width: fit-content;

                        @include lg{
                            font-size: 20px;
                            padding-top: 0px;
                            padding-bottom: 5px;
                        }

                        &:hover, &:active{
                            color: var(--navy);
                            background-color: white;
                            padding: 10px;

                        }
                    }

                    @include lg{
                        a:link, a:visited{
                            padding: 16px ;
                            transition: 0.25s;
                            color: white;
                            text-decoration: none;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 500;
                            font-size: rem-calc(16);
    
                            @include md{
                                font-size: 20px;
                            }
    
                            &:hover, &:active{
                                color: var(--navy);
                                background-color: white;
                                padding: 10px;
    
                            }
                        }
                    }
                }
            }
            
        }

        #g3{
            grid-area: g3;

            h6{
                padding: 0px;
                margin-top: 35px;

            }
            ul{
                margin: 0px;
                padding: 0px;
                li{
                    a:link, a:visited{
                        text-align: left;
                        padding: 5px 0px;
                        transition: 0.25s;
                        color: white;
                        text-decoration: none;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;
                        font-size: rem-calc(16);
                        width: fit-content;
                        margin: 0px 0px 30px;

                        @include lg{
                            font-size: 20px;
                        }

                        &:hover, &:active{
                            color: var(--navy);
                            background-color: white;
                            padding: 10px;

                        }
                    }
                
                    @include lg{
                        a:link, a:visited{
                        
                            
                            
    
                            @include lg{
                                font-size: 20px;
                            }
    
                            &:hover, &:active{
                                
    
                            }
    
                        }
                    }

                }
            }
        }


        #g4{
            grid-area: g4;
            h6{
                display: none;
                @include lg{
                    display: grid;
                }
            }
            section{
                ul{
                    display: flex;

                    li{
                        margin-right: 14px;

                        @include lg{
                            margin-right: 7px;
                        }
                        a:link, a:visited{

                            transition: .25s;
                            color: white;
                            text-decoration: none;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 500;
                            font-size: rem-calc(16);
                            
    
                            @include lg{
                                font-size: 20px;
                            }
    
                            &:hover, &:active{
                                color: var(--navy);
                                background-color: white;
    
                            }
    
                        }
                        
                    }
                }
                img{
                    height: 40px;

                    @include md{
                        height: 30px;
                    }
                }
            }
        }


    }
}